absl-py==1.0.0
anyio==3.5.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.5.0
astunparse==1.6.3
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
bleach==4.1.0
boto3==1.20.46
botocore==1.23.46
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
cloudinary==1.28.1
colorama==0.4.4
cycler==0.11.0
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
entrypoints==0.3
fastapi==0.73.0
filelock==3.4.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-Inputs==0.3.0
Flask-JWT-Extended==4.3.1
Flask-PyMongo==2.3.0
flatbuffers==2.0
fonttools==4.28.2
future==0.18.2
gast==0.4.0
google-auth==1.4.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
h11==0.13.0
h2==4.1.0
h5py==3.6.0
hpack==4.0.0
httptools==0.3.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==2.8
importlib-metadata==4.8.1
importlib-resources==5.4.0
ipykernel==4.6.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.2
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
MetPy==1.2.0
mistune==0.8.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nexradaws==1.1
notebook==5.2.2
numpy==1.21.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.2
pickleshare==0.7.5
pika==1.2.0
Pillow==8.4.0
Pint==0.18
platformdirs==2.4.0
pooch==1.6.0
portpicker==1.2.0
priority==2.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.24
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.9.0
Pygments==2.10.0
PyJWT==2.3.0
pymongo==4.0.2
pyparsing==2.4.7
pyproj==3.2.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.19.2
pytz==2021.3
pywin32==301
pywinpty==1.1.4
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.2.2
QtPy==2.0.0
rabbitmq==0.2.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.0
scikit-learn==1.0.1
scipy==1.7.3
Send2Trash==1.8.0
setuptools-scm==6.3.2
simplegeneric==0.8.1
six==1.12.0
sniffio==1.2.0
standard==1.0.3
starlette==0.17.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
tornado==4.5.3
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.8
uvicorn==0.17.1
virtualenv==20.10.0
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
wsproto==1.0.0
WTForms==3.0.1
xarray==0.20.2
yellowbrick==1.3.post1
zipp==3.5.0
